.green {
  color: #12635c;
}
.menu {
  display: none;
}
<<<<<<< HEAD
.header {
  background-color: rgba(192, 192, 192, 0.278);
=======

.header {
  background-color: #c0c0c047;
>>>>>>> 588c976a8fd5773307308743120731da025d1acc
  box-shadow: 0px 1px 9px #0000005e;
}
.header_container {
  display: flex;
  padding: 10px;
}
.container_title {
  text-align: center;
  font-family: "roboto";
  text-shadow: 0px 1px 7px black;
}
.header img {
  width: 80px;
  height: 80px;
  margin: 0 10px;
}
.header_container-title {
  font-size: 28px;
  color: #003f76;
}
.header_container-subtittle {
  margin-top: -15px;
  font-size: 12px;
}
.hero {
  display: grid;
  height: 300px;
  align-items: center;
  justify-items: center;
  padding: 10px 20px;
  grid-template-rows: auto 100px;
  background-color: #1b262c;
}
.hero_container-description p {
  font-family: "Merriweather";
  color: white;
  text-align: center;
  grid-row: 1;
  text-shadow: -4px 3px 4px #4e6359;
}
.hero i {
  color: white;
  font-size: 50px;
}
.toro {
  color: #59dfad;
  font-weight: bold;
}
.button-wa {
  font-family: "Merriweather";
  font-weight: bold;
  text-align: center;
  width: 80%;
  text-decoration: none;
  box-sizing: border-box;
  height: 40px;
  background-color: rgb(60, 179, 76);
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.formulario {
  padding: 10px 20px;
  background-color: #c0c0c047;
  font-family: "Merriweather";
  font-size: bold;
}
.formulario h2 {
  text-align: center;
}
.formulario input,
.formulario textarea {
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 5px;
  border: none;
  margin: 10px 0px;
}
.formulario input[type="submit"] {
  background-color: rgb(60, 179, 76);
}
.footer {
  padding: 10px 20px;
  background-color: #1b262c;
}
.footer_container {
  display: grid;
  padding: 10px 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 200px 50px;
}
.footer_container-redes {
  grid-row: 1;
  display: flex;
  justify-content: space-evenly;
}
.footer_container-redes a {
  text-decoration: none;
  color: white;
  font-size: 40px;
}
.footer_container-map {
  display: flex;
  justify-content: center;
}
.footer_container-descripcion {
  display: flex;
  justify-content: center;
  color: #4e6359;
}
.footer_container-descripcion a {
  color: #a0ffd2;
  text-decoration: none;
}
@media (min-width: 800px) {
  .button-wa {
    width: 80%;
<<<<<<< HEAD
    font-size: 25px;
=======
>>>>>>> 588c976a8fd5773307308743120731da025d1acc
  }
  .formulario input[type="submit"] {
    width: 80%;
  }
  .footer_container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 50px;
    align-items: center;
  }
  .footer_container-map {
    grid-column: 2;
  }
  .footer_container-descripcion {
    grid-row: 2;
    grid-column: 1 / 3;
  }
}
@media (min-width: 1000px) {
  .header_container,
  .hero,
  .formulario,
  .footer_container {
    width: 900px;
    margin: 0 auto;
  }
  .header_container {
    align-items: center;
  }
  .header_container-title {
    font-size: 50px;
  }
  .header_container-subtittle {
    font-size: 16px;
    margin-top: -35px;
  }
}
